build/*
.vscode/
!.gitkeep
bin/
tests/tmpMain.cc
include/ndsl/config.h
examples/Proxyserver_zzt/doc/

*.log
*.fls
*.blg
*.bbl
*.aux
*.fdb_latexmk
*.toc
*.pdf
*.out
*.thm
*.synctex.gz
__latexindent_temp.tex
*.synctex(busy)
